*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: 'Mooli', sans-serif;
}
body{
    background-color: #3c124a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
  
    height:600px;
    width: 400px;
    background-color: #e0a96d;
    border-radius: 13px;
}
.card img{
    position: relative;
    height: 100%;
    width: 100%;
    
    border-radius:13px;
    object-fit: cover;
}
i{
    position: absolute;
    font-size: 88px;
    color: #fff;
    top: 47%;
    right: 47%;
    opacity: 0;
    transition:all ease 0.3s;
}